/* * {
  padding: 0;
  margin: 0;
} */
.meal-planner {
  background: #c8e2d2;
  /* margin: 50px; */
  padding: 50px;
}
.weekly-menu button {
  margin: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  color: #37784f;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: solid 2px #37784f;
  font-size: 1rem;
}

.weekly-menu button:hover {
  background-color: #37784f;
  color: #f4f4f4;
}
.show-btn {
  margin: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  color: #37784f;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: solid 2px #37784f;
  font-size: 1rem;
}

.show-btn:hover {
  background-color: #37784f;
  color: #f4f4f4;
}

.hide-btn {
  padding: 5px;
  border-radius: 10px;
  color: #ffbf00;
  margin-right: 5px;
  border: solid 2px #ffbf00;
  font-size: 1rem;
}
.hide-btn:hover {
  background-color: #ffbf00;
  color: #f4f4f4;
}
